html {
    font-family: sans-serif;
}

main {
    display:flex;
    flex-direction: row;
}

#map {
    height: 400px;
    width: 100%;
}

.left-side {
    border: 1px solid blue;
}

.address-section {
    border: 1px solid green;
}

.school-list-section {
    border: 1px solid orange;
}

.school-list {
    padding: 0;
    list-style: none;
}

.school-name {
    font-weight: bold;
}

.school-distance,
.school-type {
    font-size: 0.8rem;
    display: inline;
    border: 1px solid gray;
    border-radius: 0.7rem;
    padding: 0.2rem;
    background-color: #eee;
}

.school-list li {
    margin: 1rem 0.5rem;
}

.address-choices li:hover {
    background-color: #eee;
    cursor: pointer;
}