html {
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100%;
}

header {
    height: 9vh;
    font-size: 12px;
    box-sizing: border-box;
    background-image: url("../img/lead-h1-background.png");
    background-size: 100% 100%;
    /* background-size: cover;  This option do not reshape img*/
    /* background-position: bottom; */
    /* background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg) */
}

h1 {
    color: #577446;
    height: 100%;
    padding: 2vh;
    margin: 0;
    box-sizing: border-box;
    /* adjust background image transparency */
    background-color: rgba(255, 255, 255, 0.3);
}
main {
    display:flex;
    box-sizing: border-box;
    flex-direction: row;
    height: 87vh;
    padding: 1vh;
}

footer {
    height: 3vh;
    font-size: 12px;
    box-sizing: border-box;
}

#footnote {
    margin: 0;
    box-sizing: border-box;
}

a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }

#map {
    width: 100%;
    box-sizing: border-box;
}

.right-side {
    border: 1px solid blue;
    width: 500px;
    padding: 2vh;
    box-sizing: border-box;
}

.address-section {
    border: 1px solid green;
    height: 15%;
    padding: 1vh;
    box-sizing: border-box;
}

.park-list-section {
    border: 1px solid orange;
    height: 45%;
    padding: 1vh;
    box-sizing: border-box;
    overflow: auto;
}

.lead-level-chart-wrapper {
    border: 1px solid pink;
    height: 40%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    left: 0;
}