html {
    font-family: sans-serif;
    box-sizing: border-box;
}

header {
    height: 9vh;
    font-size: 12px;
    box-sizing: border-box;
}

h1 {
    color: #577446;
    padding: 2vh;
    margin: 0;
    box-sizing: border-box;
}
main {
    display:flex;
    box-sizing: border-box;
    flex-direction: row;
    height: 88vh;
    padding: 1vh;
}

footer {
    height: 2vh;
    font-size: 12px;
    box-sizing: border-box;
}

#footnote {
    margin: 0;
    box-sizing: border-box;
}

#map {
    width: 100%;
    box-sizing: border-box;
}

.right-side {
    border: 1px solid blue;
    width: 400px;
    padding: 2vh;
    box-sizing: border-box;
}

.address-section {
    border: 1px solid green;
    height: 15%;
    padding: 1vh;
    box-sizing: border-box;
}

.park-list-section {
    border: 1px solid orange;
    height: 45%;
    padding: 1vh;
    box-sizing: border-box;
}

.lead-level-chart-wrapper {
    border: 1px solid pink;
    height: 40%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    left: 0;
}